@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@700;800&display=swap');

.sel:hover, #home:hover, #overflowi:hover {
    border: 2px solid #FFFFFF;
}

h1 {
    color: #FFFFFF;
    font-family: 'Source Code Pro', monospace;
    text-align: center;
    font-size: 50px;
    transition: font-size 0.25s;
}

h1:hover {
    font-size: 52px;
}

h2 {
    color: #ABABAB;
    font-family: 'Source Code Pro', monospace;
    text-align: center;
    font-size: 25px;
    transition: font-size 0.25s;
}

h2:hover {
    font-size: 26px;
}

#background {
    position: absolute;
    transform: translate(-250px, -250px);
    width: 1px;
    height: 1px;
    background-image: url("Ufntitled.png");
}

.sel {
    background-color: #0A0A0A;
    font-family: 'Source Code Pro', monospace;
    text-align: center;
    color: #FFFFFF;
    position: absolute;
    width: 150px;
    height: 50px;
    left: 119px;
    top: 23px;
    user-select: none;
    vertical-align: middle;
    line-height: 50px;
    border-top: 2px solid #404040;
    border-left: 2px solid #404040;
    border-right: 2px solid #b9b9b9;
    border-bottom: 2px solid #b9b9b9;
    z-index: 102;
}

#menu {
    position: fixed;
    height: 100px;
    top: 0;
    left: 0;
    background: rgba(200, 200, 200, 0.56);
    border-top: 2px solid #404040;
    border-left: 2px solid #404040;
    border-right: 2px solid #b9b9b9;
    border-bottom: 2px solid #b9b9b9;
    z-index: 101;
}

#home {
    position: absolute;
    top: 3px;
    left: 3px;
    user-select: none;
    width: 90px;
    height: 90px;
    border-top: 2px solid #404040;
    border-left: 2px solid #404040;
    border-right: 2px solid #b9b9b9;
    border-bottom: 2px solid #b9b9b9;
    z-index: 102;
}

#overflowi {
    position: absolute;
    top: 3px;
    user-select: none;
    width: 90px;
    height: 90px;
    border-top: 2px solid #404040;
    border-left: 2px solid #404040;
    border-right: 2px solid #b9b9b9;
    border-bottom: 2px solid #b9b9b9;
    cursor: pointer;
    z-index: 102;
}

#overflow {
    position: fixed;
    top: 106px;
    width: 200px;
    border-top: 2px solid #404040;
    border-left: 2px solid #404040;
    border-right: 2px solid #b9b9b9;
    border-bottom: 2px solid #b9b9b9;
    background: rgba(200, 200, 200, 0.56);
    z-index: 100;
}

*::-webkit-scrollbar-track {
    background: #000066; /* color of the tracking area */
}

*::-webkit-scrollbar-thumb {
    background-color: skyblue; /* color of the scroll thumb */
    border-radius: 1px; /* roundness of the scroll thumb */
    /* border: 1px solid #000066;  */ /* creates padding around scroll thumb */
}